html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  color: white !important;
}
a{
  text-decoration: none !important;
  color: white !important;  
}
a:hover,a:focus {
  text-decoration: none !important;
  cursor:pointer;
}
ul{
    list-style:none;
}
.wrapper {
    min-height: 100vh;
    background: url('img/f.png') no-repeat top center;    
    background-size: cover;
}
.container{
    padding: 0 !important;
}
header{
    background: rgba(31,40,48,0.2);    
    border: solid 1px rgb(43,59,69);
    border-radius: 7px;    
    padding: 0 !important;
}
.dropdown {
    border: solid 1px rgb(43,59,69);
    border-radius: 7px;
    background: rgb(20, 34, 44);
    z-index: 2;
    color: #c3c5c6; 
    width: 25% !important; 
}
    .dropdown-menu {
        padding:4% 0% 2% 4% !important;
        border: solid 1px rgb(146,232,254) !important;
        border-radius: 7px ;
        background: rgb(20, 34, 44)!important;  
        transform: translate3d(0px, 53px, 0px) !important;  
    }
        .dropdown-menu li {
            background: rgb(20, 34, 44);
            padding-bottom:2%;
            border-radius: 7px;
            margin: 0.5%;
        }
            .dropdown-menu li a {
                font-size: 16px ;
                /*font-size: 100%; 16px;*/
                font-weight: lighter;
                color: #c3c5c6;
            }
.dropdown.show {
    border: solid 1px rgb(146,232,254) !important;
}
.e {
    background: url('img/Ethereum.png') no-repeat top center;
    }
.l {
    background: url('img/Litecoin.png') no-repeat top center;
}
.b {
    background: url('img/Bitcoin.png') no-repeat top center;
}
.item{
    background-size: cover;
    z-index: 1;
    border-radius: 10px;
    height: 450px;
}
.radio:hover{
    cursor: pointer;
}
.radio::after {
   content: url('img/radio_off.png');
}
.radioChange_on::after {
   content: url('img/radio_on.png');
}
.hide{
    display: none;
}
.positive{
    color: #70c446 !important;
}
.negative{
    color: #b01325 !important;
}



