html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  color: white !important;
}
a{
  text-decoration: none !important;
  color: white !important;  
}
a:hover,a:focus {
  text-decoration: none !important;
  cursor:pointer;
}
ul{
    list-style:none;
}
.wrapper {
    min-height: 100vh;
    background: url('img/f.png') no-repeat top center;    
    background-size: cover;    
}
.container{
    padding: 0 !important;
}
header{
    background: rgba(31,40,48,0.2);    
    border: solid 1px rgb(43,59,69);
    border-radius: 7px;    
    padding: 0 !important;
    margin-top: 2rem!important;
}
main{
    margin-top: 2rem!important;
}
.dropdown {
    border: solid 1px rgb(43,59,69);
    border-radius: 7px;
    background: rgb(20, 34, 44);
    z-index: 2;
    color: #c3c5c6; 
    width: 25% !important; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
    .dropdown-menu {
        padding:4% 0% 2% 4% !important;
        border: solid 1px rgb(146,232,254) !important;
        border-radius: 7px ;
        background: rgb(20, 34, 44)!important;  
        transform: translate3d(0px, 53px, 0px) !important; 
        margin-top: .5rem !important; 
    }
        .dropdown-menu li {
            background: rgb(20, 34, 44);
            padding-bottom:2%;
            border-radius: 7px;
            margin: 0.5%;
        }
            .dropdown-menu li a {
                font-size: 16px ;
                /*font-size: 100%; 16px;*/
                font-weight: lighter;
                color: #c3c5c6;
            }
.dropdown.show {
    border: solid 1px rgb(146,232,254) !important;
}
.e {
    background: url('img/Ethereum.png') no-repeat top center;
    }
.l {
    background: url('img/Litecoin.png') no-repeat top center;
}
.b {
    background: url('img/Bitcoin.png') no-repeat top center;
}
.item{
    background-size: cover;
    z-index: 1;
    border-radius: 10px;
    height: 450px;
}
.radio:hover{
    cursor: pointer;
}
.radio::after {
   content: url('img/radio_off.png');
}
.radioChange_on::after {
   content: url('img/radio_on.png');
}
.hide{
    display: none;
}
.percentChange, .absChange{
    text-align: right;
}
.positive{
    color: #70c446 !important;
}
.negative{
    color: #b01325 !important;
}

@media only screen and (max-width: 767px) {
    header{
        margin-top: 0rem!important;
    }
    main{
        margin-top: 0rem!important;
    }
    .wrapper {
        padding-top: .5rem!important;
    }
    .dropdown{
        margin-top: 0 !important;
        margin-bottom: .3rem !important;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }    
    .dropdown-menu {
        margin-top: -1rem !important; 
    }
    .item{
        height: 400px;
    }
    h2{
        font-size: 26px !important;
    }    
    h5{
        font-size: 18px !important;
    }
    h6{
        font-size: 16px !important;        
    }

}
@media only screen and (max-width: 400px) {
    h2{
        font-size: 19px !important;
    }

}


