html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}
a{
  text-decoration: none !important;
  color:black !important;
}
a:hover,a:focus {
  text-decoration: none !important;
  color:black !important  ;
  background: none !important;
  cursor:pointer;
}
i{
  color:#cb944c;
}
p{
  margin: 0 !important;
}
header{
}
.container{
  padding: 0 !important;
}
.logo{
  width:100%;
}
.search{
  border:solid 1px #b9b8bd;
  border-radius: 5px;
  padding: 5px 0 !important;
}
.search input{
  border:none; 
  outline:none;
  font-size: 14px;
}
.kf-tel{  
  font-size: 20px; 
  padding: 0 .5rem !important;
}
.kf-other-info{
  padding: 0 .5rem !important;
}
.kf-time{
   color:#cb944c;  
} 
.container hr{
  background: #cb944c;
  width: 100%;
  margin:0;
}
.navbar{
  font-size: 14px !important;
}
.navbar-nav li{
  padding: 0.3rem .6vw;
}
.navbar>.container{
  align-items: flex-start !important;
}
.navbar-expand-md{
  padding: .5rem .5rem !important;
  font-weight: 400;
}
.dropdown-menu.show {  
  width: 310px;
  border-color:#cb944c;
}
.dropdown-menu a{
  padding: .5rem;
}
.dropdown-menu a:before{ 
  content: "\f10c";
  float: left;
  font: normal 8px/1 FontAwesome; 
  position: relative;
  margin: 3% 0 0 6%;
  color:#cb944c;
} 
.dropdown{
  overflow: visible;
}
.fixed-top{
  right: 10px !important;
}
.kf-basket_count{
  background: url(img/ellips.png);
  background-size: 100%; 
  background-repeat: no-repeat; 
  width: 25px;
  height: 23px;
  color:white;
  text-align: center;
}
main{
  position:relative;
  padding: 0 !important;
}
.slider {
  width: 100%;  
  height: 60vh;
}
.slide_viewer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slide_group {
  width: 100%;
  position: relative;
}

.slide {
  display: none;
  height: 60vh;
  overflow: hidden;  
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: url(img/slider1.jpeg) no-repeat bottom center;
  background-size: cover;
}

.slide:nth-of-type(2) {
  background: url(img/slider2.jpg) no-repeat bottom center;
  background-size: cover;
}

.slide:nth-of-type(3) {
  background: url(img/slider3.jpg) no-repeat bottom center;
  background-size: cover;
}

.slide_buttons {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}

.slide_btn {
  color: #cb944c !important;
  opacity: 0.4;
  font-size: 62px;
  margin: 0 0.1em;
  height: 3vh;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #cb944c !important;
  opacity: 1;
  cursor: pointer;
}

.directional_nav {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;  
}
.previous_btn {
  background: url(img/slid_left_but.png);
  bottom: 0;
  left: 0px;
  margin: auto;
  position: absolute;
  top: 0;
}
.previous_btn:hover {
    background: url(img/slid_left_but_hover.png);  
}
.directional_nav_title{
  height: 130px;
  bottom: 0;
  top:0;
  left: 10vw;
  margin: auto;
  position: absolute;
  background: #d2a66b;
  opacity: 0.9;    
  font-size: 43px;
  color:white;
}
.next_btn {
  background: url(img/slid_right_but.png);
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 0px;
  top: 0;
}
.next_btn:hover {
  background: url(img/slid_right_but_hover.png);
 }
.previous_btn, .next_btn {
  cursor: pointer;
  height: 128px;
  opacity: 0.9;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 37px;
}
@media only screen and (max-width: 1200px) {
  .hidden-xl{
    display:none !important;
  }
}
@media only screen and (max-width: 1080px) {
  .navbar-nav{
    padding: 0.3rem .8vw;
  }
  
}
@media only screen and (max-width: 992px) {
  .directional_nav_title{
    left: 15vw;
    width: 70vw;
    font-size: calc((100vw - 320px)/(1920 - 320) * (50 - 20) + 20px); /*40px*/
  }
  .navbar.mt-1{
    width:100%;
    justify-content:flex-end; 
  }
}
@media only screen and (max-width: 767px) {
  .hidden-md{
    display:none !important;
  }
 .dropdown-menu.show {  
    width: auto;
    border: none;
    margin-left: 10px;
  }
    .navbar.mt-1{
    width:auto;
  }
  .previous_btn, .directional_nav_title, .next_btn{
    margin: 0;
    top:auto;
  }
}
@media only screen and (max-width: 575px) {
  .align-items-start{    
    -ms-flex-pack: center!important;
    justify-content: center!important;
  }
}

